<div class="col-md-3">                
<form action= "/add" method="post"> <!-- se diseña el fomulario sin clase, si va a llevar action 
va llevar a algun lugar en este caso "/add" esta ruta se tendra que crearse en el servidor atravez del
metodo post (method="post"), por lo general un formulario manda datos desde el navegador al servidor-->
                            <!--FORMULARIO (front end)-->
<div class="form-group">
    <div class name='formulario guardar'>
    <input type ="text" name="Nombres"          placeholder="Nombres"    class="form-control">  
    <input type ="text" name="Ap_Paterno"       placeholder="A. Paterno" class="form-control"> 
    <input type ="text" name="Ap_Paterno"       placeholder="A. Paterno" class="form-control">
    <input type ="text" name="Ap_Materno"       placeholder="A. Materno" class="form-control">
    <input type ="number" name="Carrera"    placeholder="Carrera"    class="form-control">
    <input type ="number" name="Turno"      placeholder="Turno"      class="form-control">
    <input type ="number" name="No_Control" placeholder="No_Control" class="form-control">
    <button type="submit" class="btn btn-primary">
        saver
    </button>
    </div>
</div>

<div class="form-group">
    <div class name='formulario_editar'>
    <input type ="text" name="Nombres"          placeholder="Nombres"    class="form-control">  
    <input type ="text" name="Ap_Paterno"       placeholder="A. Paterno" class="form-control"> 
    <input type ="text" name="Ap_Paterno"       placeholder="A. Paterno" class="form-control">
    <input type ="text" name="Ap_Materno"       placeholder="A. Materno" class="form-control">
    <input type ="number" name="Carrera"    placeholder="Carrera"    class="form-control">
    <input type ="number" name="Turno"      placeholder="Turno"      class="form-control">
    <input type ="number" name="No_Control" placeholder="No_Control" class="form-control">
    <button type="submit" class="btn btn-primary">
        saver
    </button>
    </div>
</div>


